{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {{ readme|markdown_to_html }}
    <p>
        See this project on GitHub:
    </p>
    <a href="https://github.com/florentdestremau/symfony-kamal" style="display: flex; align-items: center;gap: 0.5rem;">
        {{ ux_icon('flowbite:github-solid', {style: 'height: 1rem;'}) }}
        florentdestremau/symfony-kamal
    </a>
{% endblock %}
